@charset "UTF-8";

/* common */
.sec{margin-top:14.0625vw;}
.sec img{display:block;}
.main{margin-top:9.3750vw;padding:0 4.6875vw;box-sizing:border-box}
.cont_nav{display:none;}
.sec .pc_br{display:inline-block;}
.sec .m_br{display:block;}

/* main */
.media_wrap{position:relative;height:0;padding-bottom:56.25%;}
.media_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

.about .main .sec_tit{height:21.5625vw;background:url(../img/m/m_main_tit.png) no-repeat;background-position:0 0;background-size:78.1250vw auto}
.about .main .sec_dsc{margin-top:4.6875vw;letter-spacing:-0.38vw;line-height:6.2500vw}
.about .main .btn_wrap{margin-top:4.0625vw;}
.about .main .btn_lnk{display:block;width:28.1250vw;height:9.3750vw;background:url(../img/m/m_btn_detail.jpg) no-repeat;background-position:center;background-size:28.1250vw auto;}
.main .introduce_wrap{margin-top:4.0625vw}
.main .introduce_item{margin-top:14.0625vw;background:url(../img/m/main_introduce01.png) no-repeat;background-position:center top;background-size:49.3750vw auto}
.main .introduce_item .txt{font-size:3.7500vw;text-align:center;line-height:6.2500vw;}
.main .introduce_item.item_01{margin-top:0;padding-top:39.3750vw;}
.main .introduce_item.item_02{padding-top:31.5625vw;background-image:url(../img/m/main_introduce02.png);background-size:37.5000vw auto;}
.main .introduce_item.item_03{padding-top:34.2500vw;background-image:url(../img/m/main_introduce03.png);background-size:46.5625vw auto;}

/* hotspot */
.hotspot{background:url(../img/bg_hotspot.jpg) no-repeat;background-position:0 0;background-size:cover;}
.hotspot .inner{padding:15.6250vw 0 9.3750vw;}
.hotspot .tit_wrap{padding:0 4.6875vw;}
.hotspot .sec_tit{display:inline-block;width:77.5vw;height:15vw;background:url(../img/m/m_hotspot_tit.png) no-repeat;background-position:0 0;background-size:77.5vw auto;}
.hotspot .sec_dsc{margin-top:4.6875vw;font-size:3.75vw;line-height:6.2500vw;color:#002569;letter-spacing:-0.3vw;}
.hotspot .detail_wrap{margin:6.8750vw 3.125vw 0;}
.hotspot .box_lst{margin:-3.125vw 0 0 -3.125vw}
.hotspot .box_lst:after{display:block;clear:both;content:'';}
.hotspot .lst_item{float:left;width:43.7500vw;margin:3.5vw 0 0 3.5vw;}
.hotspot .img_box{height:43.7500vw;background-repeat:no-repeat;background-position:center;background-size:cover}
.hotspot .dsc_wrap{background-color:#fff;}
.hotspot .dsc_tit{overflow:hidden;display:block;padding:3.1250vw;font-weight:normal;color:#333;font-size:3.7500vw;box-sizing:border-box;white-space:nowrap;text-overflow:ellipsis}
.hotspot .dsc_txt{display:none;}
.hotspot .btn_wrap{margin:6.25vw 0 0;}
.hotspot .btn_lnk{display:block;height:9.3750vw;background:url(../img/m/m_btn_datail2.jpg) no-repeat;background-position:center;background-size:100vw auto;}

/* gallery */
.gallery .inner{padding-bottom:7.8125vw;}
.gallery .tit_wrap{padding:0 4.6875vw;}
.gallery .detail_wrap{margin:0 3.125vw;}
.gallery .sec_tit{display:inline-block;width:52.1875vw;height:15.6250vw;background:url(../img/m/m_gallery_tit.png) no-repeat;background-position:0 0;background-size:52.1875vw auto;}
.gallery .sec_dsc{margin-top:4.6875vw;font-size:3.75vw;line-height:6.2500vw;color:#002569;letter-spacing:-0.3vw;}
.gallery .instagram{display:inline-block;margin-left:1.5625vw;padding-left:6.25vw;color:#01497a;background:url(../img/m/ico_instagram.png) no-repeat;background-position:0 1.2vw;background-size:4.0625vw auto}
.gallery .gallery_lst{margin-top:1.5625vw;margin-left:-3.1250vw}
.gallery .gallery_lst:after{display:block;clear:both;content:'';}
.gallery .lst_item{float:left;margin:3.1250vw 0 0 3.1250vw; outline:1px solid #efefef;}
.gallery .lst_item.full_box{width:59.3750vw;height:59.375vw;}
.gallery .lst_item.full_box .gallery_lnk{width:100%;height:100%;}
.gallery .gallery_lnk{overflow:hidden;display:block;width:28.1250vw;height:28.1250vw;}
.gallery .gallery_lnk img{width:auto;height:100%}
.gallery .btn_wrap{margin:6.25vw 0 0;}
.gallery .btn_lnk{display:block;height:9.3750vw;background:url(../img/m/m_btn_more.jpg) no-repeat;background-position:center;background-size:100vw auto;}

/* foodes */
.foodies .media_wrap{height:100vw;}
.foodies .pc_cont{display:none;}
.foodies .main{margin:0;padding:9.3750vw 4.6875vw;background:#f5f5f5}
.foodies .sec_tit{font-size:6.2500vw;line-height:5.6250vw;font-weight:normal;color:#333;}
.foodies .sec_dsc{margin-top:5.9375vw;line-height:6.2500vw;}
.foodies .sec_dsc + .sec_dsc{margin-top:4.0625vw;}
.foodies .btn_wrap.is_tag{margin-top:6.2500vw;}
.foodies .btn_wrap.is_tag:after{display:block;clear:both;content:'';}
.foodies .btn_wrap.is_tag .btn_lnk{float:left;margin:1.5625vw 1.5625vw 0 0;padding:3.1250vw;color:#666;border-radius:6.2500vw;border:1px solid #f2f2f2;background-color:#fff;}

.restaurant .tit_wrap{padding:0 4.6875vw;}
.restaurant .detail_wrap{margin:9.3750vw 3.125vw 0;}
.restaurant .particle_box{position:relative}
.restaurant .particle_box + .particle_box{margin-top:9.3750vw;}
.restaurant .lst_tit{font-size:4.6875vw;line-height:6.2500vw;color:#333;}
.restaurant .btn_more{position:absolute;top:0.9375vw;right:0;color:#999;}
.restaurant .restaurant_lst{margin:0 -3.125vw}
.restaurant .restaurant_lst:after{display:block;clear:both;content:'';}
.restaurant .lst_item{position:relative;float:left;width:43.7500vw;height:43.7500vw;margin:3.5vw 0 0 3.5vw;background:url(../img/restaurant.jpg) no-repeat;background-position:-7.5000vw center;background-size:cover}
.restaurant .lst_item:after{position:absolute;bottom:0;left:0;width:100%;height:100%;background:url(../img/m/bg_shadow_box.png) no-repeat;background-position:0 0;background-size:cover;content:'';}
.restaurant .lst_item.item2{background-image:url(../img/restaurant2.jpg);}
.restaurant .lst_item.item3{background-image:url(../img/restaurant3.jpg);}
.restaurant .lst_item.item4{background-image:url(../img/restaurant4.jpg);}
.restaurant .lst_item.item5{background-image:url(../img/restaurant5.jpg);}
.restaurant .lst_item.item6{background-image:url(../img/restaurant6.jpg);}
.restaurant .lst_item.item7{background-image:url(../img/restaurant7.jpg);}
.restaurant .lst_item.item8{background-image:url(../img/restaurant8.jpg);}
.restaurant .dsc_tit{position:absolute;bottom:0;left:0;padding:4.6875vw 0 4.6875vw 4.6875vw;line-height:5.6250vw;color:#fff;z-index:1}
.restaurant .dsc_txt{display:none;}

.recommend{background:url(../img/m/bg_recommend.jpg) no-repeat;background-position:0 0;background-size:cover;}
.recommend .inner{padding:15.6250vw 4.6875vw 18.7500vw;}
.recommend .img_wrap{display:block;overflow:hidden;width:90.6250vw;height:52.8125vw;margin:0 auto;}
.recommend .img_wrap img{width:auto;height:100%;}
.recommend .tit_wrap{margin-top:9.3750vw;color:#fff;text-align:center;}
.recommend .tit_tag{display:block;color:#ff9e01;}
.recommend .sec_tit{display:block;margin-top:3.1250vw;color:#fff;}
.recommend .sec_dsc{color:#fff;}
.recommend .btn_wrap{margin:10.9375vw 25.5625vw 0;border:2px solid #ff9e01;}
.recommend .btn_lnk{display:inline-block;padding:2.5000vw 0;color:#ff9e01;}

.play .inner{padding:0 4.6875vw 18.7500vw;}
.play .sec_dsc{letter-spacing:-0.3vw;}
.play .dsc_sub_tit{display:block;}
.play .detail_wrap{margin-top:9.3750vw;}
.play .lst_item{position:relative;margin-top:3.1250vw;padding-left:35.9375vw;height:35.9375vw}
.play .img_wrap{overflow:hidden;position:absolute;top:0;left:0;width:35.9375vw;height:35.9375vw}
.play .img_wrap img{width:auto;height:100%;}
.play .dsc_tit{overflow:hidden;display:block;width:100%;white-space:nowrap;text-overflow:ellipsis;}
.play .dsc_wrap{padding:4.6875vw 6.2500vw;}
.play .dsc_txt{overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;width:100%;height:3.6em; margin-top:4.3750vw;line-height:1.2em;white-space:normal;text-overflow:ellipsis;}

.around{margin-top:0;background:url(../img/m/bg_around.jpg) no-repeat;background-position:0 0;background-size:cover;}
.around .inner{padding:15.6250vw 4.6875vw 18.7500vw;}
.around .detail_wrap{overflow:hidden;position:relative;margin:6.8750vw 0 0;padding-top:62.5000vw}
.around .box_lst{position:absolute;top:0;left:0;width:200%; margin:-3.125vw 0 0 -3.125vw}
.around .box_lst:after{display:block;clear:both;content:'';}
.around .lst_item{float:left;width:56.2500vw;height:62.5000vw;margin:3.5vw 0 0 3.5vw;background-color:#fff;}
.around .img_box{height:35.9375vw;background-repeat:no-repeat;background-position:center;background-size:cover}
.around .dsc_wrap{padding:3.1250vw;}
.around .dsc_tit{overflow:hidden;display:block;font-weight:normal;color:#333;font-size:4.0625vw;box-sizing:border-box;white-space:nowrap;text-overflow:ellipsis}
.around .dsc_txt{margin-top:3.1250vw;font-size:3.4375vw;}
.around .btn_wrap{margin:6.25vw 0 0;}
.around .btn_lnk{display:block;height:9.3750vw;background:url(../img/m/m_btn_lst.jpg) no-repeat;background-position:center;background-size:100vw auto;}

/* product */
.product{margin-top:0;background:url(../img/m/bg_product.jpg) no-repeat;background-position:0 0;background-size:100vw auto;}
.product .tit_wrap{height:89.0625vw;}
.product .product_tab{padding:65.9375vw 4.6875vw 0;}
.product .tab_lst{border-top:2px solid #8b9abd;border-left:2px solid #8b9abd;box-sizing:border-box;}
.product .tab_lst:after{display:block;clear:both;content:'';}
.product .tab_item{float:left;width:33.3333%;border-right:2px solid #8b9abd;border-bottom:2px solid #8b9abd; box-sizing:border-box;}
.product .tab_item.on{position:relative}
.product .tab_item.on a{color:#002569;font-weight:700;background-color:#fff;}
.product .tab_item.on:after{position:absolute;top:-2px;left:-2px;width:100%;height:100%;border:2px solid #1e4ede;content:'';}
.product .tab_item a{display:block;padding:2.1875vw 0;text-align:center;font-size:3.4375vw;letter-spacing:-0.75px;box-sizing:border-box;}
.product .product_tit{display:block;margin:4.6875vw 4.6875vw 2.8125vw;;color:#002569;}
.product .product_detail{position:relative;padding:73.4375vw 4.6875vw 4.6875vw;background:url(../img/product.jpg) no-repeat;background-position:-56.5625vw 0;background-size:auto 73.4375vw;box-sizing:border-box;}
.product .product_detail.product2{padding:73.4375vw 4.6875vw 4.6875vw;background-image:url(../img/product2.jpg);background-position:-43.5625vw 0;background-size:auto 73.4375vw;}
.product .product_detail:after{position:absolute;bottom:0;left:0;width:100%;height:4.6875vw;background-color:#f5f5f5;content:'';}
.product .detail_tit{display:block;margin-top:6.2500vw;font-size:5vw;font-weight:normal;color:#333;}
.product .detail_dsc{position:relative;margin-top:3.1250vw;padding-bottom:6.2500vw;line-height:6.2500vw;}
.product .detail_dsc:after{position:absolute;bottom:0;left:0;width:7.8125vw;height:0.3125vw;background-color:#ff9e01;content:'';}
.product .detail_lst{margin:6.2500vw 0 0;}
.product .lst_item:first-child{margin-top:0;}
.product .lst_item{margin-top:4.6875vw;}
.product .item_tit{line-height:6.2500vw;}
.product .item_tit.type_yellow{color:#ff9e01;}
.product .item_tit.type_blue{color:#002569;}
.product .item_txt{margin-top:3.1250vw;line-height:6.2500vw;letter-spacing:-0.3vw;}
.product .btn_wrap{height:9.3750vw;margin:6.25vw 0 4.6875vw;text-align:right}
.product .btn_lnk{display:inline-block;width:28.1250vw;height:100%;background:url(../img/m/m_btn_detail.jpg) no-repeat;background-position:center;background-size:28.1250vw auto;}
.product .product_table{position:relative;margin-top:6.2500vw;padding-top:51.5625vw;text-align:center;}
.product .product_table:after{position:absolute;top:0;left:0;width:100%;height:45.3125vw;background:url(../img/product3.jpg) no-repeat;background-position:center;background-size:cover;content:'';}
.product table{width:100%;}
.product td, .product th{padding:2.1875vw 0;color:#333;}
.product th{border-top:1px solid #c3c3c3;background-color:#f9f9f9;}
.product td{border-top:1px solid #efefef;border-bottom:1px solid #efefef;}
.product .notice_txt{margin-top:3.1250vw;padding-right:6.2500vw;line-height:6.2500vw;box-sizing:border-box;letter-spacing:-0.5px;}


@media screen and (min-width: 786px) {
/* PC에 사용될 스트일 시트를 여기에 작성합니다. */
.sec .pc_br{display:block;}
.sec .m_br{display:none;}
/* .cont_nav{display:block;} */

section .inner{max-width:940px;margin:0 auto}
.about .media_wrap{height:580px;}

.foodies .sec{margin-top:100px;}
.foodies .pc_cont{display:inline;}
.foodies .main{padding:90px 0 80px}
.foodies .media_wrap{height:550px;}
.foodies .sec_tit{font-size:30px;line-height:42px; }
.foodies .sec_dsc{margin-top:0;font-size:14px;line-height:26px;}
.foodies .sec_dsc + .sec_dsc{margin-top:0;}
.foodies .btn_wrap.is_tag{margin-top:30px;}
.foodies .btn_wrap.is_tag .btn_lnk{margin:0 10px 0 0;padding:8px 15px;border-radius:25px;font-size:14px;line-height:26px;}

.foodies .main .tit_wrap, .foodies .restaurant .tit_wrap, .foodies .play .tit_wrap{position:relative;padding:0 0 0 320px;}
.foodies .main .sec_tit, .foodies .restaurant .sec_tit, .foodies .play .sec_tit{position:absolute;top:0;left:0;font-size:30px;line-height:42px;vertical-align:top;}

.restaurant .lst_tit{font-size:18px;line-height:42px;}
.restaurant .detail_wrap{margin:0;}
.restaurant .btn_more{top:-2px;font-size:14px;line-height:42px;}
.restaurant .restaurant_lst{margin:0 -20px}
.restaurant .particle_box{margin-top:60px;}
.restaurant .particle_box + .particle_box{margin-top:60px;}
.restaurant .lst_item{width:460px;height:320px;margin:20px 0 0 20px;background-position:-58px center;}
.restaurant .lst_item:after{background-image:url(../img/bg_shadow_box.png);}
.restaurant .dsc_tit{display:block;position:relative;bottom:auto;padding:203px 25px 0;font-size:18px;line-height:42px;}
.restaurant .dsc_tit br{display:none;}
.restaurant .dsc_txt{display:block;position:relative;padding:0 25px;color:#fff;line-height:22px;letter-spacing:-1.2px;z-index:1;}

.recommend{height:550px;background-image:url(../img/bg_recommend.jpg)}
.recommend .inner{position:relative;padding:96px 0;}
.recommend .img_wrap{position:absolute;top:96px;left:0;width:620px;height:320px}
.recommend .tit_wrap{margin:0;padding-left:620px;text-align:left;box-sizing:border-box;}
.recommend .sec_tit{margin-top:20px;}
.recommend .btn_wrap{width:148px;margin:30px 0 0;text-align:center;}
.recommend .btn_lnk{display:block;padding:10px;}

.sec.play{margin-top:0;padding-top:100px;background:#f5f5f5;}
.play .inner{padding:0 0 100px 0;}
.play .sec_dsc{letter-spacing:-0.5px;}
.play .btn_more{color:#999;}
.play .btn_more:after{display:inline-block;margin-left:5px;content:'>';}
.play .detail_wrap{margin-top:30px;}
.play .play_lst{margin-left:-20px;}
.play .play_lst:after{display:block;clear:both;content:'';}
.play .lst_item{float:left;width:460px;height:230px;margin:20px 0 0 20px;padding-left:230px;box-sizing:border-box;background:#fff;}
.play .img_wrap{width:230px;height:100%;}
.play .dsc_wrap{padding:35px 30px;}
.play .dsc_txt{margin-top:30px;}

.sec.around{margin-top:0;}
.around .inner{padding:85px 0 100px;}
.around .detail_wrap{margin:40px 0 0;padding-top:246px;}
.around .box_lst{margin:0 0 0 -20px;}
.around .lst_item{width:220px;height:245px;margin:0 0 0 20px}
.around .img_box{height:140px;}
.around .dsc_wrap{padding:20px;}
.around .dsc_tit{font-size:18px;line-height:21px;}
.around .dsc_txt{margin-top:10px;font-size:14px;line-height:20px;letter-spacing:-0.5px;}
.around .btn_wrap{width:160px;margin:60px 0 0;}
.around .btn_lnk{height:50px;background-image:url(../img/btn_lst.jpg);background-size:cover;}

.product{background-image:url(../img/bg_product.jpg);background-size:1920px auto;background-position:center 0;}
.product .tit_wrap{height:286px;}
.product .product_tab{padding:239px 10px 0;box-sizing:border-box;}
.product .tab_lst{border-top-width:1px;border-left-width:1px;}
.product .tab_item{width:16.6666%;border-right:1px solid #8b9abd;border-bottom:1px solid #1e4ede;background:#e3e2de;}
.product .tab_item a{padding:15px 0;font-size:14px;line-height:16px;color:#3b3b3b;}
.product .tab_item.on:after{top:-1px;left:-1px;border:1px solid #1e4ede; border-bottom-color:#fff;}
.product .product_tit{margin:70px 0 20px;font-size:24px;line-height:36px;}
.product .product_detail{padding:470px 0 0;background-position:-270px 0;background-size:auto 470px;}
.product .product_detail.product2{position:relative;padding:470px 0 0;background-position:-110px 0;background-size:auto 470px;}
.product .detail_tit{margin-top:40px;font-size:20px;line-height:36px;}
.product .detail_dsc{margin-top:15px;padding-bottom:30px;font-size:14px;line-height:36px;}
.product .detail_dsc:after{width:50px;height:1px;}
.product .detail_lst{margin:30px 0 0;}
.product .detail_lst:after{display:block;clear:both;content:'';}
.product .lst_item {float:left;width:50%;margin-top:0;}
.product .item_tit{line-height:49px;}
.product .item_txt{margin-top:0;line-height:26px;letter-spacing:-1.7px;}
.product .btn_wrap{height:50px;margin:40px 0 0;padding:0 0 80px;}
.product .btn_lnk{width:160px;background-image:url(../img/btn_detail.jpg);background-size:auto 50px;}
.product .product_detail:after{height:40px;}
.product .product_table{margin-top:30px;padding-top:86px;padding-left:440px;padding-right:40px;}
.product .product_table:after{width:380px;height:250px;background-position:-32px -35px;background-size:auto 356px;}
.product td, .product th{padding:12px 0;}
.product td:first-child{background:#f9f9f9;}
.product .notice_txt{position:absolute;bottom:370px;margin-top:0;padding:0 40px 0 440px;line-height:26px;}

.about .main{margin-top:0;padding-top:80px;}
.about .main .tit_wrap{background:url(../img/main_tit_wrap.png) no-repeat;background-size:261px auto;background-position:right 45px}
.about .main .sec_tit{height:137px;background-image:url(../img/main_tit.png);background-position:0 0;background-size:auto 137px}
.about .main .sec_dsc{margin-top:15px;letter-spacing:-0.7px;line-height:23px;}
.about .main .btn_lnk{width:160px;height:42px;background-image:url(../img/btn_detail.jpg);background-size:160px auto;}
.about .main .btn_wrap{margin-top:20px;}
.main .introduce_wrap{margin-top:40px;}
.main .introduce_wrap:after{display:block;clear:both;content:'';}
.main .introduce_item{position:relative;float:left;width:33.3333%;height:245px;background-position:center 20px}
.main .introduce_item.item_01{margin-top:0;padding-top:0;background-size:auto 150px;}
.main .introduce_item.item_02{margin-top:0;padding-top:0;background-size:auto 132px;}
.main .introduce_item.item_03{margin-top:0;padding-top:0;background-size:auto 156px;}
.main .introduce_item .txt{position:absolute;bottom:0;left:0;width:100%;font-size:14px;line-height:22px;}

.sec.hotspot{margin-top:80px;}
.hotspot .inner{padding:80px 0 100px;}
.hotspot .tit_wrap{position:relative;padding:0 0 0 540px;}
.hotspot .sec_tit{position:absolute;top:0;left:0;width:497px;height:96px;background-image:url(../img/hotspot_tit.png);background-size:497px auto;}
.hotspot .sec_dsc{margin-top:0;font-size:15px;line-height:26px;letter-spacing:-0.7px;}
.hotspot .detail_wrap{margin:50px 0 0;}
.hotspot .hotspot_lst{margin:0 -20px}
.hotspot .lst_item{position:relative;width:460px;height:230px;margin:20px 0 0 20px;background-position:-58px center;}
.hotspot .img_box{height:100%;width:230px;}
.hotspot .dsc_wrap{position:absolute;top:0;right:0;width:50%;height:230px;padding:30px;box-sizing:border-box}
.hotspot .dsc_tit{padding:0;font-size:20px;line-height:21px;}
.hotspot .dsc_txt{display:block;margin-top:20px;color:#666;line-height:22px;letter-spacing:-1.2px;z-index:1;}
.hotspot .btn_wrap{margin:20px 0 0;}
.hotspot .btn_lnk{height:50px;background-image:url(../img/btn_datail2.jpg);background-size:100%;}

.sec.gallery{margin-top:100px;}
.gallery .tit_wrap{position:relative;padding:20px 0 0 540px;}
.gallery .sec_tit{position:absolute;top:0;left:0;width:335px;height:96px;padding-top:20px;background-image:url(../img/gallery_tit.png);background-size:335px auto;}
.gallery .sec_dsc{margin-top:0;font-size:15px;line-height:26px;letter-spacing:-0.7px;}
.gallery .instagram{margin-left:3px;padding-left:25px;background-position:0 6px;background-size:13px auto;}
.gallery .gallery_lnk{width:140px;height:140px;}
.gallery .lst_item{margin:10px;}
.gallery .lst_item.full_box{width:300px;height:300px;}

.gallery .btn_wrap{margin:20px 0 0;}
.gallery .btn_lnk{height:50px;background-image:url(../img/btn_more.jpg);background-size:100%;}


} 